<div highlightTagDirective>
  Product:
  <div>
    name: {{product.name | titlecase}}, description: {{product.description | lowercase}}, price: {{product.price | currency}}
  </div>

  <div>
    <pre>{{ product | json }}</pre>
  </div>
  <div>{{ testCurrency | currency}}</div>

  <div>
    Quantity: {{productQuantity}}
  </div>
  <div>
    <button (click)="increaseProductQuantity()">+</button>
    <button (click)="decreaseProductQuantity()">-</button>
  </div>
  <button (click)="deleteProduct()">Delete item</button>
</div>

