<p>Basket:</p>
<div>
<!--  {{cartService.getProducts()}}-->
</div>
  <app-cart-item
    *ngFor="let p of cartProducts;"
    [cart-product-data-input]="p.product"
    [cart-product-quantity-input]="p.quantity"
    (productToDelete)="processProductDelete($event)"
    (productToIncrease)="processProductToIncrease($event)"
    (productToDecrease)="processProductToDecrease($event)"
  >
  </app-cart-item>
<p>
  Total cost: {{totalCost}}
  Total quantity: {{totalQuantity}}
</p>
<div *ngIf="!isEmptyCart">
  <button (click)="removeAllProducts()">Remove all products</button>
</div>
